@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap");

@font-face {
  font-family: "Press Start 2P";
  src: url("../assets/font/PressStart2P-Regular.ttf") format("opentype");
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
  background-color: #1c1818;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

img {
  display: block;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
